<ul class="list-group">
  <li class="list-item" *ngFor="let a of allUsers; let i = index">
    <a class="user-link" *ngIf="i + 1 === allUsers.length" #lastUser>
      <img [src]="a.imageUrl" />
      <span>
        <p><span class="list-item-heading">Title</span>: {{ a.name }}</p>
        <p><span class="list-item-heading">Name</span>: {{ a.name }}</p>
        <p><span class="list-item-heading">ID</span>: {{ a.id }}</p>
      </span>
    </a>
    <a class="user-link" *ngIf="i + 1 != allUsers.length">
      <img [src]="a.imageUrl" />
      <span>
        <p><span class="list-item-heading">Title</span>: {{ a.name }}</p>
        <p><span class="list-item-heading">Name</span>: {{ a.name }}</p>
        <p><span class="list-item-heading">ID</span>: {{ a.id }}</p>
      </span>
    </a>
  </li>
</ul>
